*.pyc
*.swp
*.swo
*login*
*.ipynb_checkpoints
Untitled*.ipynb
*.log
*.out

*.cache*
*keys.*
*temp/*

*/build/*
*/dist/*
*.egg*
src/*

*.coverage*
*.pytest_cache*

prototypes/forge_sandbox.ipynb

travis.tar
.mdfsecrets
.mdfsecrets.*
aws/python
.idea/
secrets.env

