*.pyc
*.swp
*.swo
*login*
*.ipynb_checkpoints
Untitled*.ipynb
*.log
*.out

*.cache*
*keys.*
*temp/*

*/build/*
*/dist/*
*.egg*
src/*

*.coverage*
*.pytest_cache*

prototypes/forge_sandbox.ipynb
automate/Automate_Scratch_space.ipynb

travis.tar
