*.pyc
*.swp
*.swo
*login*
*.ipynb_checkpoints
Untitled*.ipynb
*.log

*.cache*
*keys.*
*temp/*
*nohup.out

*/build/*
*/dist/*
*.egg*
src/*

*.coverage*
*.pytest_cache*

prototypes/forge_sandbox.ipynb

travis.tar
