[submodule "mdf_connect/schemas"]
	path = mdf_connect/schemas
	url = https://github.com/materials-data-facility/data-schemas.git
[submodule "mdf_connect/config/schemas"]
	path = mdf_connect/config/schemas
	url = https://github.com/materials-data-facility/data-schemas
